<form [formGroup]="formRopa"(ngSubmit)="saveRopa()">
  <div class="bg-white border border-4 rounded-lg shadow relative m-10">

  <div class="flex items-start justify-between p-5 border-b rounded-t">
      <h3 class="text-xl font-semibold">
          Añadir Pieza de Ropa
      </h3>
      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="product-modal">
         <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
  </div>

  <div class="p-6 space-y-6">
      <form action="#">
          <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                  <label for="product-name" class="text-sm font-medium text-gray-900 block mb-2">Name</label>
                  <input formControlName="name" autocomplete="off" type="text" name="product-name" id="product-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Apple Imac 27”"
                  required=""/>
                  @if (validaControl('name')) {

                    <small class="p-1 text-red-500 mb-1x">Este campo es requerido</small>
                    }
              </div>
              <div class="col-span-6 sm:col-span-3 relative">
                  <label for="category" class="text-sm font-medium text-gray-900 block mb-2">Categoria</label>
                  <select formControlName="clasificacion" autocomplete="off" id="clasificacion" name="clasificacion" type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Electronics" required="">
                    @for (clas of clasificacion; track clas){
                      <option [value]="clas">{{ clas }}</option>
                      }
                  </select>
                    @if (validaControl('clasificacion')) {

                    <small class="p-1 text-red-500 mb-1x">Este campo es requerido</small>
                    }
              </div>
              <div class="col-span-6 sm:col-span-3">
                  <label for="brand" class="text-sm font-medium text-gray-900 block mb-2">Marca</label>
                  <input formControlName="marca" autocomplete="off" type="text" name="marca" id="marca" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Apple" required="">
                  @if (validaControl('marca')) {

                    <span class="p-1 text-red-500 mb-1x">Este campo es requerido</span>
                    }
              </div>
              <div class="col-span-6 sm:col-span-3">
                  <label for="price" class="text-sm font-medium text-gray-900 block mb-2">Price</label>
                  <input type="number" formControlName="price" autocomplete="off" id="price" name="price" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="$2300" required="">
                  @if (validaControl('price')) {

                    <span class="p-1 text-red-500 mb-1x">Este campo es requerido</span>
                    }
                    @if (validaPrice()) {

                      <span class="p-1 text-red-500 mb-1x">Max $5000</span>
                      }
              </div>
              <div class="col-span-6 sm:col-span-3">
                  <label for="stock" class="text-sm font-medium text-gray-900 block mb-2">Stock</label>
                  <input formControlName="stock" autocomplete="off" type="number" name="stock" id="stock" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="500" required="">
                  @if (validaControl('stock')) {

                    <span class="p-1 text-red-500 mb-1x">Este campo es requerido</span>
                    }
                    @if (validaStock()){
                      <span class="p-1 text-red-500 mb-1x">Max 500</span>

                    }
              </div>
              <div class="col-span-full">
                  <label for="product-details" class="text-sm font-medium text-gray-900 block mb-2">Descripcion</label>
                  <input formControlName="description" autocomplete="off" type="text" name="description" id="description" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Apple" required="">
                  @if (validaControl('description')) {

                    <span class="p-1 text-red-500 mb-1x">Este campo es requerido</span>
                    }

              </div>
          </div>
      </form>
  </div>

  <div class="p-6 border-t border-gray-200 rounded-b">
      <button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Save all</button>
  </div>

</div>


</form>


