<section>
    <h1 class="text-xl">Interaction</h1>
    <hr>
    @defer (on interaction) {
        <app-fast clase="bg-green-500 h-30">
            <span> On Interaction</span>
        </app-fast>
    }@placeholder {
        <div class="w-full h-30 bg-orange-100">
            Da click aqui!
        </div>
    }
</section>

<section>
    <h1 class="text-xl">Interaction</h1>
    <hr>
    <button #btnInteraction class="bg-blue-200 p-2 hover:bg-blue-400 rounded text-white">Clcik Aqui!</button>
    @defer (on interaction(btnInteraction)) {
        <app-fast clase="bg-red-500 h-30">
            <span> On Interaction</span>
        </app-fast>
    }
     @placeholder {
        <div class="w-full h-30 bg-orange-100">
            Da click aqui!
        </div>
    }
</section>

<section>
    <h1 class="text-xl">Interaction hover</h1>
    <hr>
    @defer (on hover) {
        <app-fast clase="bg-blue-500 h-30">
            <span> On hover</span>
        </app-fast>
    }@placeholder {
        <div class="w-full h-30 bg-orange-100">
            Funciona pasando el mouse!
        </div>
    }
</section>

<section>
    <h1 class="text-xl">Interaction immediate</h1>
    <hr>
    @defer (on immediate) {
        <app-fast clase="bg-pink-500 h-30">
            <span>On immediate</span>
        </app-fast>
    }@placeholder {
        <div class="w-full h-30 bg-orange-100">
            Funciona con immediate!
        </div>
    }
</section>

<section>
    <h1 class="text-xl">Interaction timer</h1>
    <hr>
    @defer (on timer(3000)) {
        <app-fast clase="bg-orange-500 h-30">
            <span>On Timer</span>
        </app-fast>
    }@placeholder {
        <div class="w-full h-30 bg-orange-100">
            Espera 3 segundos
        </div>
    }
</section>